<footer class="d-footer">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <p class="mb-0">Copyright &copy; 2026 <span class="fw-bold text-primary-600">Admina</span>. All Rights Reserved</p>
    </div>
    <div class="col-auto">
      <div class="d-flex align-items-center gap-24">
        <a href="javascript:void(0)" class="text-neutral-500 text-hover-primary-600">Privacy policy</a>
        <a href="javascript:void(0)" class="text-neutral-500 text-hover-primary-600">Terms of condition</a>
      </div>
    </div>
  </div>
</footer>